*{
    margin: 0;
    padding: 0;
    
}
.bdy{
    margin: 0;
    padding: 0;
    background-color:rgb(88, 86, 86);
}

h1{
    margin: 2%;
    text-align: center;
    background-color:lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
}

.image{
    width: 200px;
    border: 1px solid;
    border-radius: 80%;
}

p{
    text-align: center;
    font-size: 150%;
}

.song{
    margin: 1%;
    color: whitesmoke;
    background-color: darkgrey;
    font-size: 100%;
}
.song ul{
    margin-left: 45%;
    align-items: center;
}

.song h3{
    font-size: 120%;
    color: black;
    text-align: center;
    text-decoration: underline;
}

h4{
    margin: 1%;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}

.movie{
    background: rgba(248, 247, 245, 0.884);
}

 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: rgb(238, 171, 171);
}

.movie p{
    font-size: 100%;
}


h5{
    font-size:150%;
    font-style: oblique;
    text-decoration: underline;
}



h2{
    margin:2%;
    font-size: 200%;
    font-family: "Lucida console" , courier , monospace;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px white;
}
.contact{
    justify-content: center;
    align-items: center;
  
}
.under{
    align-items: center;
    justify-content: center;
    margin-left:42%;
}
.findme{
    color:white;
    font-size: 22px;
    display: inline-block;
   padding: 4px;
}

.findme:hover{
    background-color: brown;
}
i{
    color: white;
}

.row h3{
    text-decoration: underline;
    font-size:150%;
    text-align: center;
}

input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  select {
    width: 83%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=password], input[type=date] {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email] {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
   
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    img{
        height: 50%;
    }
    .contact{
        width: 100%;
        text-size:15px;
        margin-right:1px;
    }
    .under{
      align-items: center;
      justify-content: center;
      
    
  }


